[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Dunst
Comment=dunst notification daemon
Exec=dunst -print > /tmp/dunst.notifs.log
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

